{% extends "users/base.html" %}
{% load static %}
{% block title %}Add assessment{% endblock title %}
{% block main %}

<div class="main-form container">

    <h1>Add Assessment</h1>

    <form action="" method="post" id="assessment-form">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <div class="alert alert-info" id="msg" style="display : none">
    </div>

    <p><span id="min">02</span>:<span id="sec">00</span></p>
    <button id="timer" onclick="start_timer()">start</button>
</div>

<script>
    function start_timer() {
        var a = 2;
        a--;
        document.getElementById("min").innerHTML = a;
        var b = 60;
        document.getElementById("sec").innerHTML = b;
        setInterval(stat, 60000);
        function stat() {
            if (a >= 1){
                a--;
                document.getElementById("min").innerHTML = a;
            }
        }
        setInterval(sec, 1000);
        function sec() {
            if (b >= 1){
                b--;
                document.getElementById("sec").innerHTML = b;
            }
            if (a != 0 && b == 0){
                b = 60;
            }
        }
    }
</script>


{% endblock main %}