

{% extends "users/base.html" %}
{% load static %}
{% block title %}Assessment{% endblock title %}
{% block main %}

<div class="">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          {% for i in assessment %}
          <tr>
            <td>{{i.id}}</td>
            <td><a href="{% url "show-quiz" i.id %}">{{i.title}}</a></td>
            <td>{{i.type}}</td>
            <td>{{i.duration}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    <div class="alert alert-info" id="msg" style="display : none">
    </div>
</div>


{% endblock main %}