{% extends "users/base.html" %}
{% load static %}
{% block title %}Quiz{% endblock title %}
{% block main %}

<div class="main container">
    <form action="{% url "show-quiz" assessment.id %}" method="post">
        {% csrf_token %}
        {% if questions %}
            {% for q in questions %}
                <p>{{ q.question }}</p>
                {% for c in q.choice_set.all %}
                    <input type="radio" name = "q_{{ q.id }}" value="{{ c.id }}">{{ c.option }}<br>
                {% endfor %}
                <br>
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-primary">
        {% else %}
        <div class="main-form container">
            <h1 id="contain">No Questions Available if you are instructor please add questions first.</h1>
        {% endif %}
        </div>
    </form>
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}

    {% endif %}
</div>
{% endblock main %}

