<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <form action="{% url "text_quiz" %}" method="post">
        {% csrf_token %}
        <h1>Short Answer</h1>
        {% for q in questions %}
        {% if q.choice_set.all %}
            
        {% else %}
        <p>{{ q.question }}</p>
        {{ formset.as_p }}
        {% endif %}
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>




   {% comment %} <h2>Add Answer</h2>
   <form method="post" enctype="multipart/form-data">
       {{ formset.as_p }}
       {% csrf_token %}
       <button type="submit" >Save</button>
   </form> {% endcomment %}
</body>
</html>