{% extends "courses/base.html" %}
{% load static %}
{% block title %}Index{% endblock title %}
{% block main %}

  <!-- Hero Section -->
  <section id="hero" class="clearfix">
    <div class="container" data-aos="fade-up">

      <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static "courses/img/hero-img.svg" %}" alt="" class="img-fluid">
      </div>

      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>We provide<br><span>solutions</span><br>of your problems!</h2>
        <div>
          <a type="button" class="btn-get-started" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
            Enroll
          </a>
          <!-- Button trigger modal -->
          <a type="button" class="btn-services" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Courses
          </a>
        </div>
      </div>

    </div>
  </section>
  <!-- End Hero Section -->

<!-- Modal for Enrollment -->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enroll here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
              <option selected>Select your email</option>
              {% for u in users %}
              <option value="{{u.id}}">{{u}}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" value = "Enroll" class="btn btn-primary">
      </div>
    </div>
  </div>
</div>



<!-- Modal for Courses -->

{% if courses %}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Courses Available</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Duration</th>
              <th scope="col">Fees</th>
            </tr>
          </thead>
          <tbody>
            {% for i in courses %}
            <tr>
              <td>{{i.id}}</td>
              <td>{{i.name}}</td>
              <td>{{i.duration}}</td>
              <td>{{i.fees}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% else %}
<h1>No Courses are available</h1>
{% endif %}


{% comment %} carosal {% endcomment %}

<div class="video-portion">

  {% if upload_video %}

  <div class="row">
    <div class="col-md-5 border border-dark bg-dark">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for i in upload_video %}
          <div class="carousel-item{% if forloop.first %} active{% endif %}">
            <video controls="controls" preload="preload" class="w-100 h-100">
              <source src="{{i.lecture.url}}" type="video/mp4">
            </video>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  {% else %}
  <h1>No video</h1>
  
  {% endif %}
</div>


{% endblock main %}